[submodule "ecommerce-frontend"]
	path = ecommerce-frontend
	url = https://github.com/roshanrane24/ecommerce-frontend.git
[submodule "ecommerce-backend"]
	path = ecommerce-backend
	url = https://github.com/anantgehi/ecommerce-backend
